body{
  background-color:rgb(212, 212, 212);
}
h2 {
  align-content: center;
}

div.results {
  width:345px; 
  margin:0 auto;
  background-color: rgb(212, 212, 212);
}

div.wrapper{
  display: inline-block;
  border: 1px solid
}

div.header_image{
  margin-bottom: -120px;
  height: 420px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.page_content{
  max-width: 840px;
  background: rgb(212, 212, 212);
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px 80px;
  border-radius: 3px;
  border: 1px solid;
}

img.small {
  width: 150px; 
  display: block;
}

#results{
  text-align: center;
  font-weight: bold;
}